body{
    background-color: white;
}
#logo{
    position: absolute;
    width: 591px;
    height: 875px;
    left: -30px;
    top: -170px;
}
.botonIniciar{
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    justify-content: space-around;
    margin-top: 19%;
    margin-left: 34%;
    width: 576px;
    height: 136px;
}

#iniciar:hover{ 
    opacity: 90%;
    filter: drop-shadow(0px 0px 10px #1F6032);
}

#iniciar:active{
    opacity: 95%;
    filter: drop-shadow(0px 0px 20px #0b2011);
}

.anhadir-palabra{
    padding:5px 15px; 
    cursor:pointer;
    position: relative;
    width: 280px;
    height: 67px;
    left: 800px;
    margin-top: 2%;
    border: 1px solid #369457;
    border-radius: 24px;
    color: #1F6032;
    font-size: 16px;
}

#btnanhadir:hover{
    color: #43b46b;
    border: 1px solid #43b46b;
    filter: drop-shadow(0px 0px 5px #1F6032);
}

#btnanhadir:active{
    filter: drop-shadow(0px 0px 10px #0b2011);
}